<scroll-view>
<view class="p20 mt20 bk6">

    <view class="text-color-main fs60 mt15">
        {{data.title}}
    </view>

    <view class="cor_16 fs32 mt15">
        {{data.summary}}
    </view>

    <view class="df ai-center jcsb">
        <view class="cor_16 fs32 mt15 fl1 clamp_1">
            <!-- {{data.category}}/ -->
            {{data.create_time_en_format}}
        </view>
        <view class="cor_orange fs32 mt15 ml10">
            {{data.post_hits_format}}阅读者
        </view>
    </view>
</view>

<swiper wx:if="{{data.images.length > 0}}" indicator-dots="{{true}}" autoplay="{{true}}" interval="3000" duration="200" class="slide-image" bindchange='imageIndexChanged'>

    <swiper-item wx:for="{{data.images}}">
        <image src="{{item}}" class="slide-image" mode="aspectFill" />
    </swiper-item>
</swiper>
<view class="info_text_bg">
        <view class="info_text"><text selectable="true">{{data.email}}</text></view>
        <view class="info_text"><text selectable="true">{{data.company}}</text></view>
        </view>
        <view class="info_bottom"></view>
<!-- TODO 显示公司网址还有邮箱 -->

<view class="bottom df ">
    <view class="fl1 ai-center jcc bottom-left re">
        <view class="btn_text">拨打电话</view>
        <button class="bottom-btn" bindtap='call'></button>
    </view>
    <view class="fl1 ai-center jcc bottom-right re">
        <view class="btn_text">联系客服</view>
        <button class="bottom-btn" session-from='{"nickName":"{{userInfo.user_name}}","avatarUrl":"{{userInfo.avatar}}"}' open-type="contact"></button>
    </view>
</view>

</scroll-view>
