/**index.wxss**/

page {
  background-color: #FFF;
  position: relative;
  height: 100%;
}

.scroll-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
  color: transparent;
}

.content {
  margin-top: 100rpx;
  width: 100%;
  height: 100%;
}

.view-pager {
  width: 100%;
  height: 100%;
}

.menu-container {
  height: 99rpx;
  width: 750rpx;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-view {
  height: 100rpx;
  width: 750rpx;
}

.menu-item {
  width: 250rpx;
  height: 95rpx;
  border-bottom: 5rpx solid #fff;
  color: #6d6d6d;
  display: inline-block;
}

.menu-item-selected {
  border-bottom: 5rpx solid #111;
  color: #111111;
}

.menu-item-name {
  font-size: 36rpx;
  width: 100%;
  height: 100%;
}

.filter {
  margin-left: 30rpx;
  margin-right: 30rpx;
  margin-top: 40rpx;
  width: 690rpx;
  height: 150rpx;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  border: 5rpx solid #b4a089;
  padding: 20rpx
}

.input-container {
  border: 2rpx solid #fbfbfb;
  width: 100%;
  height: 100%;
}

.icon-search {
  width: 48rpx;
  height: 48rpx;
  margin-left: 30rpx;
}

.input {
  height: 100%;
  font-size: 38rpx;
  margin-left: 30rpx;
}
.long-filter-item {
  margin-top: 20rpx;
  margin-left: 30rpx;
  margin-right: 30rpx;
  width: 100%;
  height: 60rpx;
  border: 1rpx solid #111111;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}
.filter-item {
  margin-top: 20rpx;
  margin-left: 30rpx;
  width: 210rpx;
  height: 60rpx;
  border: 1rpx solid #111111;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}
.long-filter-item-check {
  margin-top: 30rpx;
  margin-left: 30rpx;
  width: 100%;
  height: 60rpx;
  border: 0rpx solid #111111;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.filter-item-check {
  margin-top: 30rpx;
  margin-left: 30rpx;
  width: 210rpx;
  height: 60rpx;
  border: 0rpx solid #111111;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.filter-item-img {
  width: 48rpx;
  height: 48rpx;
  margin-right: 5rpx;
}

.filter-item-text {
  font-size: 32rpx;
  color: #111111;
}

.filter-item-count {
  position: absolute;
  top: 10rpx;
  right: 35rpx;
  color: #d2602a;
  font-size: 26rpx;
}

.filter-bottom {
  margin: 30rpx;

  margin-bottom: 0rpx;
  padding-bottom: 30rpx;
  border-bottom: 1rpx solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.filter-button {
  width: 100%;
  height: 100rpx;
  font-size: 30rpx;
  color: white;
  background-color: #111111;
}

.float-btn {
  position: fixed;
  right: 40rpx;
  bottom: 40rpx;
  z-index: 999;
  background-color: #111111;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
}

.icon-cate {
  width: 50rpx;
  height: 50rpx;
}

.point {
  width: 15rpx;
  height: 15rpx;
  border-radius: 50%;
  background-color: #d2602a;
  position: absolute;
  top: 20rpx;
  right: 30rpx;
}

.filter-scroll-menu {
  width: 250rpx;
  height: 99rpx;
  border-bottom: 1rpx solid #fff;
  color: #6d6d6d;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.filter-scroll-menu-left {
  left: 0;
  box-shadow: 10 10rpx 10rpx #6d6d6d;
  -webkit-box-shadow:10 10rpx 10rpx #6d6d6d;
  -moz-box-shadow: 10 10rpx 10rpx #6d6d6d;
  -o-box-shadow: 10 10rpx 10rpx #6d6d6d;
}


.filter-scroll-menu-right {
  right: 0;
  box-shadow: -10 0rpx 10rpx #6d6d6d;
  -webkit-box-shadow:-10 0rpx 10rpx #6d6d6d;
  -moz-box-shadow: -10 0rpx 10rpx #6d6d6d;
  -o-box-shadow: -10 0rpx 10rpx #6d6d6d;
}


