/* pages/transpoint/transpoint.wxss */
@import "../common/css/activity-basic.wxss";
@import "../common/css/wx-basic.wxss";

.user-info-avatar {
    width: 138rpx;
    height: 138rpx;
    margin: 20rpx;

  border-radius: 10rpx;
    border-radius: 50%;
    /*border: solid 3rpx #ffffff;*/
}
