@import "../../pages/common/css/activity-basic.wxss";
@import "../../pages/common/css/wx-basic.wxss";
@import "../../common/common.wxss";

.container {
  margin-left: 30rpx;
  margin-right: 30rpx;
  border-bottom: 1rpx solid #ccc;
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}

.image {
  width: 690rpx;
  height: 460rpx;
}

.type {
  font-size: 30rpx;
  color: #ff673a;
  margin-top: 15rpx;
}

.title {
  font-weight: bold;
  font-size: 42rpx;
  color: #333333;
  flex: 1;
  margin-top: 20rpx;
  display: inline;
}

.author {
  font-size: 28rpx;
  color: #666;
  display: inline;
  margin-left: 20rpx;
}

.time {
  color: #666;
  font-size: 28rpx;
  line-height: 28rpx;
}

.time-image {
  width: 38rpx;
  height: 38rpx;
}
.icon-img {
  width: 48rpx;
  height: 48rpx;
  margin-left: 40rpx;
  margin-right: 20rpx;
}

.msg-container {
  position: relative;
}

.msg-count {
  font-size: 28rpx;
  color: #ff673a;
}


.like-count {
  font-size: 28rpx;
  color: #ff673a;
}

.submit_img {
  height: 48rpx;
  width: 48rpx;
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.btn_submit{
  background-color: transparent;
  height: 48rpx;
  width: 78rpx;
  border: none !important;
  position: absolute;
  left: 0;
  top: 0;
}
btn_submit::after{ border: none; }
