@import "../common/css/activity-basic.wxss";
@import "../common/css/wx-basic.wxss";
@import "../../common/common.wxss";
.address-input-container {
  margin-top: 30rpx;
  margin-left: 30rpx;
  border: 1rpx solid #b29f2b;
  width: 690rpx;
  height: 120rpx;
  font-size: 30rpx;
  color: #666;
}

.address-input-tip {
  width: 200rpx;
  text-align: center;
}

.address-input {
  padding-left: 20rpx;
  flex: 1;
  height: 80rpx;
}

.toggle-btn {
  width: 36rpx;
  height: 36rpx;
}

.address-tip {
  font-size: 36rpx;
  color: #666;
}

.question-item {
  width: 208rpx;
  height: 60rpx;
  margin-left: 30rpx;
  font-size: 30rpx;
  margin-bottom: 20rpx;
  color: #333;

}

.question-item-unselected {
  border: solid #333 1rpx;
}

.view_submit{
  width: 100%;
}

.submit-container {
  width: 100%;
  height: 100rpx;
}
.v-submit {
  background-color: black;
  width: 100%;
  height: 90rpx;
  border: none !important;
  position: absolute;
  left: 0;
  top: 0;
}


.btn_submit{
  background-color: transparent;
  width: 100%;
  height: 100rpx;
  border: none !important;
  position: absolute;
  left: 0;
  top: 0;
}
btn_submit::after{ border: none; }