<template name="activity-item">
  <view class="fldc box_style_2 mar4 pt10 pb10" bindtap="onItemClicked" data-item="{{item}}">
        <image class="img_0" src="{{item.img}}"/>
    <view class="df fldr ">
      <view class="re">
        <image src="../../image/pay-label-icon.png" class="ico_pay_label_icon img_2 ab " style="left:5rpx; top:-5rpx;" wx:if="{{item.show_pay_icon}}"/>
      </view>
      <view class=" fldc df fl1 " style="justify-content:space-between">
        <view class="fz12 clamp_2 lh2">
          {{item.title}}
        </view>
        <view class="cor_1 df " wx:if="{{item.start_str != ''}}">
         
          <view class="clamp_1 fl1  fz10 ">
            {{item.start_str}}
          </view>
        </view>
        <!-- <view class="cor_1 df " wx:if="{{item.address != ''}}">
         
          <view class="clamp_1 fl1  fz10 ">
            {{item.address}}
          </view>
        </view> -->
      </view>
    </view>

<scroll-view scroll-x="true"  style="white-space: nowrap;display: inline-block;" >
    <view class="df re">
      <view class=" ml10" wx:for="{{[1, 2, 3, 4, 5, 6, 7, 8, 9]}}" wx:for-item="tag">
      
        <image class="img_4" mode="aspectFill" src="../../image/test_img2.jpg"/>
      </view>
    </view>
        </scroll-view>
  </view>
</template>