/* pages/comment/comment.wxss */
@import "../common/css/activity-basic.wxss";
@import "../common/css/wx-basic.wxss";
@import "../../common/common.wxss";


.top {
  width: 750rpx;
  height: 250rpx;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
}

.top-img {
  background: #333;
  width: 750rpx;
  height: 230rpx;
}

.top-cate-container {
  width: 100%;
  height: 50rpx;
  white-space: nowrap;
  overflow: hidden;
  background-color: #111111;
}

.top-cate {
  width: 750rpx;
  height: 50rpx;
}

.top-cate-placeholder {
  width: 42%;
  height: 50rpx;
  display: inline-block;
  vertical-align: middle;
}

.cate-item {
  height: 50rpx;
  padding-left: 15rpx;
  padding-right: 15rpx;
  display: inline-block;
  vertical-align: middle;

}

.cate-item-name {
  font-size: 28rpx;
  height: 50rpx;
  color: #666666;
  line-height: 28rpx;
  vertical-align: middle;
  display: inline-block;
}

.cate-item-selected {
  color: white;
  font-size: 36rpx;
  line-height: 36rpx;
}

.home-btn {
  position: fixed;
  width: 60rpx;
  height: 60rpx;
  top: 170rpx;
  left: 200rpx;
  z-index: 99;
}

.switch-btn {
  position: fixed;
  width: 100rpx;
  height: 100rpx;
  top: 70rpx;
  z-index: 99;
}

.switch-btn-left {
  left: 20rpx;
}

.switch-btn-right {
  right:20rpx;
}

.vertical-menu {
  position: fixed;
  top: 310rpx;
  width: 110rpx;
  padding-top: 50rpx;
  padding-left: 5rpx;
  z-index: 99;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.vertical-menu-item {
  width: 100rpx;
  height: 130rpx;
  padding-top: 15rpx;
  padding-bottom: 20rpx;
  position: relative;
}

.vertical-menu-item-img {
  padding-top: 5rpx;
  padding-bottom: 5rpx;
  width: 60rpx;
  height: 60rpx;
}
.vertical-menu-item-text {
  font-size: 24rpx;
  position: fixed;
  left: 80rpx;
  margin-top: 50rpx;
  text-decoration-line: underline;
}
.vertical-menu-item-num {
  font-size: 28rpx;
  position: absolute;
  color: #d2602a;
  top: 25rpx;
  right: 15rpx;
}

.float-btn {
  position: fixed;
  right: 40rpx;
  bottom: 40rpx;
  z-index: 998;
  background-color: #111111;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
}

.icon-close {
  width: 60rpx;
  height: 56rpx;
  padding-bottom: 5rpx;
}

.content {
  padding-top: 370rpx;
  overflow: hidden;
  margin-left: 170rpx;
  margin-right: 170rpx;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  text-align: center;
}

.content-cate {
  height: 100%;
  padding-top: 20rpx;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.cate-title {
  font-size: 38rpx;
  border-bottom: 1px solid #5a5a5a;
  position: fixed;
  height: 60rpx;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  top: 300rpx;
	letter-spacing:3rpx;
  z-index: 99;
  background-color: white;
}

.cate-item-container {
  position: relative;
  text-align: center;
  font-size: 34rpx;
  line-height: 26rpx;
  padding-bottom: 20rpx;
  padding-top: 20rpx;
}

.cate-item-sub-container {
  position: relative;
  text-align: center;
  font-size: 34rpx;
  line-height: 26rpx;
}

.cate-item-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15rpx;
  width: 36rpx;
  height: 36rpx;
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
  color: transparent;
}

.post {
    float: right;
    position: fixed;
    top: 0px;
    left: 0px; 
    width: 100%;
    z-index: 999;
    background: black;
    height: 100%;
}

.contact_menu{
  width: 100rpx;
  height: 130rpx;
  padding-top: 15rpx;
  padding-bottom: 20rpx;
  position: relative;
}
.contact_btn{
    background-color: transparent;
  width: 100%;
  height: 100%;
  border: none !important;
  position: absolute;
  left: 0;
  top: 0;
}
contact_btn::after{ border: none; }
.button-hover {
  background-color: white;
}