
<!--index.wxml-->

<!--<view class="container">
  <view  bindtap="bindViewTap" class="userinfo">
    <image class="userinfo-avatar" src="{{userInfo.avatarUrl}}" background-size="cover"></image>
    <text class="userinfo-nickname">{{userInfo.nickName}}</text>
  </view>
  <view class="usermotto">
    <text class="user-motto">{{motto}}</text>
  </view>
</view>-->
<import src="../template/activity-item.wxml" />
<view class="page">

  <!--menu start-->
  <view class="menu-top">
    <view class="top-item" catchtap="onMenuClickedLatest" data-type="1">
      {{currentChannelName}}
      
    </view>
    <view class="divider"></view>
    <view class="top-item" catchtap="onMenuClickedHot" data-type="2">
      {{currentTypeName}}
    </view>
    <view class="divider"></view>
    <view class="top-item" catchtap="onMenuClicked" data-type="3">
      {{currentStatusName}}
      <view class="arrow {{showStatusMenu ? 'up' : 'down'}}">
      </view>
    </view>
  </view>
 
  <view class="popup " wx:if="{{showStatusMenu}}">
    <view wx:for="{{menu_status}}" catchtap="onStatusMenuItemClicked" data-item="{{item}}" class="{{item.statusId == currentStatusId ? 'selected' : 'unselected'}}">
      {{item.statusName}}
      <image src="../../image/icon-checked.png" hidden="{{item.statusId != currentStatusId}}" />
    </view>
  </view>

  <!--menu end-->
  <view class="content" bindtouchmove="{{showChannelMenu || showTypeMenu || showStatusMenu ? 'onTapMoved' : ''}}">
    <block wx:for="{{activityListData}}" wx:for-item="item" wx:key="id">
      <template is="activity-item" data="{{item}}" />
    </block>
  </view>
  <view hidden="{{!showLoadMoreLoading}}" class="wp100 pa30 fz16 tac">
    加载中...
  </view>
  <view class="fullbg" wx:if="{{showChannelMenu || showTypeMenu || showStatusMenu}}" catchtap="onFullBgClicked" catchtouchmove="catchMenuMove">
  </view>

  <!--empty view-->
  <view class="empty" wx:if="{{!isRefresh && !showLoadMoreLoading && activityListData.length <= 0}}">
    <image src="../../image/empty.png" class="empty-icon" />
    <view class="text-top">
      没有相关的内容
    </view>
    <view class="text-bottom">
      重新选择活动类型
    </view>
  </view>
  </view>