/* pages/commentlist/commentlist.wxss */

@import "../common/css/activity-basic.wxss";
@import "../common/css/wx-basic.wxss";



page {
  background-color: #FFF;
  position: relative;
  height: 100%;
}

.scroll-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}


.content {
  margin-top: 100rpx;
  width: 100%;
  height: 100%;
}

.view-pager {
  width: 100%;
  height: 100%;
}

.menu-container {
  height: 100rpx;
  width: 750rpx;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-view {
  height: 100rpx;
  width: 750rpx;
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
  color: transparent;
}
.menu-item {
  width: 250rpx;
  height: 97rpx;
  border-bottom: 5rpx solid #fff;
  color: #6d6d6d;
  display: inline-block;
}

.menu-item-selected {
  border-bottom: 5rpx solid #111;
  color: #111111;
}

.menu-item-name {
  font-size: 36rpx;
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 100rpx;
  width: 100%;
  height: 100%;
}
.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-height: 750rpx;
  background-color: #fff;
  margin-top: 1rpx;
  padding: 0 0 0 20rpx;
  line-height: 100rpx;
  overflow-y: scroll;
}

.popup .unselected {
  border-bottom: 1rpx solid #eeeeee;
  font-size: 11pt;
  color: #666;
}

.popup .selected {
  border-bottom: 1rpx solid #ef4343;
  font-size: 11pt;
  color: #ef4343;
}

.popup view {
  box-sizing: border-box;
  position: relative;

}

.popup image {
  width:26rpx;
  height:19rpx;
  position: absolute;
  top: 38%;
  right: 40rpx;
}

.spinner {
  margin-top: 51rpx;
}

.fullbg {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 1);
  opacity: 0.6;
}

.empty {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:  #353535;
  font-size: 13pt;
}

.empty .empty-icon {
  display: block;
  width: 200rpx;
  height: 200rpx;
  margin-bottom: 60rpx;
}

.empty .text-top {
  color: #353535;
  font-size: 10pt;
}

.empty .text-bottom {
  margin-top: 60rpx;
  color: #a9a9a9;
  font-size: 10pt;
}

.fullopacity {
  opacity: 0.5;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-80%);
  }

  to {
    -webkit-transform: translateY(0%);
  }
}
.slideDown {
  animation: slideDown 0.2s ease-in both;
}

@-webkit-keyframes slideup {
  from{
    -webkit-transform: translateY(0%);
  }

  to {
    -webkit-transform: translateY(-100%);
  }
}

.slideUp {
  animation: slideUp 0.1s ease-in both;
}

.menu-top .arrow {
  width: 15rpx;
  height: 15rpx;
  border: 1rpx solid #afafaf;
  border-top: 0;
  border-right: 0;
  display: inline-block;
}

.arrow.down {
  -webkit-transform: rotate(-45deg) translate(50%, 0);
}

.arrow.up {
  -webkit-transform: rotate(135deg) translate(-20%, -50%);
}
.post {
    float: right;
    position: fixed;
    bottom: 20px;
    right: 10px;  
}
.menu-container {
  height: 100rpx;
  width: 750rpx;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.view-pager {
  width: 100%;
  height: 100%;
}
.filter-scroll-menu {
  width: 250rpx;
  height: 99rpx;
  border-bottom: 1rpx solid #fff;
  color: #6d6d6d;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
}

.filter-scroll-menu-left {
  left: 0;
  box-shadow: 10 10rpx 10rpx #6d6d6d;
  -webkit-box-shadow:10 10rpx 10rpx #6d6d6d;
  -moz-box-shadow: 10 10rpx 10rpx #6d6d6d;
  -o-box-shadow: 10 10rpx 10rpx #6d6d6d;
}


.filter-scroll-menu-right {
  right: 0;
  box-shadow: -10 0rpx 10rpx #6d6d6d;
  -webkit-box-shadow:-10 0rpx 10rpx #6d6d6d;
  -moz-box-shadow: -10 0rpx 10rpx #6d6d6d;
  -o-box-shadow: -10 0rpx 10rpx #6d6d6d;
}

.float-btn {
  position: fixed;
  right: 40rpx;
  bottom: 40rpx;
  z-index: 999;
  background-color: #111111;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
}

.at-me-count {
  position: absolute;
  right: 25%;
  top:20%;
  font-size: 24rpx;
  color: #ff673a;
}

.submit {
  font-size: 42rpx;

    width: 120rpx;
  height: 120rpx;
  color: white
}

.bottom {
  position: fixed;
  height: 74rpx;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  left: 0;
  bottom: 0;
}

.bottom-left {
  background-color: #535353;
}

.bottom-right {
  background-color: #878787;
}

button {
  background-color: transparent;
  border: transparent;
}
button::after {
  border: transparent;
}


.bottom-btn {
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}
.btn_text{
  color:white;
  text-align: center;
  margin-top: 12rpx;
  align-items: center;
  justify-content: center;
}