<!--pages/commentlist/commentlist.wxml-->

<view class="scroll-menu">
  <!--本来想用自定义控件 发现自定义控件无法去除 scroll-view 的 滚动条 所以又把这块拉到界面来做了-->
  <!--<com-scroll-menu menus="{{scrollMenu}}" current-selected-index="{{currentSelectedIndex}}" bindmenuchanged="onMenuChanged"></com-scroll-menu>-->
  <view class="menu-container common-box-shadow">
    <scroll-view class="scroll-view" scroll-x scroll-into-view="{{scrollToView}}">
      <view wx:for="{{scrollMenu}}"  wx:key="type" id="menu_{{index}}" class="re menu-item {{index == currentSelectedIndex ? 'menu-item-selected' : ''}}" catchtap="onMenuItemClicked" data-type="{{item.type}}" data-index="{{index}}">
        <view class="menu-item-name df fldr jcc ai-center ">{{item.name}}</view>
        <view class="at-me-count" wx:if="{{item.count > 0}}">{{item.count}}</view>
      </view>
    </scroll-view>
  </view>
  <!--<view class="divider-block"></view>-->
</view>
<!-- <view>
  <view class="menu-top popup" wx:if="{{showPersonId ==''}}">
    <view class="top-item {{isHot==0 ? 'selected' : 'unselected'}}" catchtap="onMenuClickedLatest" data-type="1">
      最新
    </view>
    <view class="divider"></view>
    <view class="top-item {{isHot==1 ? 'selected' : 'unselected'}}" catchtap="onMenuClickedHot" data-type="2">
      最热
    </view>
    <view class="divider"></view>
    <view class="top-item"  class="top-item {{isHot==2 ? 'selected' : 'unselected'}}" catchtap="onMenuClicked" data-type="3">
      回复我的
    </view>
  </view>-->

<view class="content">
  <swiper class="view-pager" bindchange="onSwiperChanged" current="{{currentSelectedIndex}}">
    <block wx:for="{{scrollMenu}}" wx:for-item="swiperItem" wx:key="type">
      <swiper-item style="height: 90%">
        <scroll-view style="height: 90vh" scroll-y bindscrolltoupper="onScrollTop" bindscrolltolower="onScrollBottom">
          <block wx:for="{{data[swiperItem.name].list}}" wx:key="id">
            <com-comment-item media_path="{{item.media_path}}" text="{{item.text}}" media-video-path="{{item.media_video_path}}" comment_id="{{item.id}}" nid="{{item.news_id}}"
                              avatar="{{item.avatar}}" nickname="{{item.nickname}}" create_time_format="{{item.create_time_format}} " is-private="{{item.is_private}}"
                              post_ding="{{item.post_ding}}" audio-path="{{item.media_voice_path}}" reply-count="{{item.reply_count}}"
                              bind:voiceClicked="onVoiceClicked" is-my="{{currentSelectedIndex == 3}}">
            </com-comment-item>
            <block wx:for="{{item.reply}}" wx:key="id" wx:for-item="reply" >
              <com-comment-item media_path="{{reply.media_path}}" text="{{reply.text}}" comment_id="{{reply.id}}" nid="{{item.news_id}}" is-private="{{item.is_private}}"
                                avatar="{{reply.avatar}}" nickname="{{reply.nickname}}" create_time_format="{{reply.create_time_format}} "
                                post_ding="{{reply.post_ding}}" audio-path="{{reply.media_voice_path}}" parent-id="{{item.id}}"
                                bind:voiceClicked="onVoiceClicked">
              </com-comment-item>
            </block>
          </block>
        </scroll-view>
      </swiper-item>
    </block>
  </swiper>
<view class="bottom df ">
    <view class="fl1 ai-center jcc bottom-left re">
        <view class="btn_text">发布</view>
        <button class="bottom-btn" bindtap='comment'></button>
    </view>
    <view class="fl1 ai-center jcc bottom-right re">
        <view class="btn_text">更多</view>
        <button class="bottom-btn" bindtap='onMoreClicked'></button>
    </view>
</view>
</view>

<!-- 
<view class="float-btn" catchtap="comment">
  <view class="df fldr jcc ai-center submit">发布</view>
  <view class="point"></view>
</view> -->