

<view class='container'>
    <view wx:if="{{needLogin}}" class="center_bg re">
        <image class="bg-img" src="../../images/login.jpeg"></image>

        <view class="auth-btn">
            <button class="wx-auth-button" hover-class="button-hover" open-type="getUserInfo" bindgetuserinfo="onGotUserInfo" data-type="wxPhone"></button>
            <view class="btn-tip">进入服务温哥华</view>
        </view>

        <!--<button open-type="getUserInfo" class="login_btn" lang="zh_CN" bindgetuserinfo="onGotUserInfo">-->

        <!--</button>-->

    </view>
    <view class="user-top" wx:if="{{!needLogin}}">
        <view class="df ai-center">
            <image class="user-info-avatar" src="{{userInfo.avatar}}" background-size="cover"></image>
            <view>
                <view class=" mt20 fz12">{{userInfo.user_name}}</view>
                <view class=" mt20 fz12">账号:{{userInfo.user_id}}</view>
            </view>
        </view>

        <view class="df ai-center pt30 bt1 bb1 pb30">
            <view class="df fldc ai-center fl1" bindtap="onShowCart">
                <view class="re" >
                    <image class="icon-horizontal" src="../../images/icon-cart.png" ></image>
                    <view class="horizontal-num" wx:if="{{cartCount > 0}}">{{cartCount}}</view>
                </view>
                <view class="horizontal-text">去结账</view>
            </view>
            <view class="df fldc ai-center fl1 re" bindtap="showOrders" data-status="7">
                <view class="re">
                    <image class="icon-horizontal" src="../../images/icon-revice.png"></image>
                    <view class="horizontal-num" wx:if="{{waitReceiveCount > 0}}">{{waitReceiveCount}}</view>
                </view>
                <view class="horizontal-text">等待收货</view>
            </view>
            <view class="df fldc ai-center fl1 re" bindtap="showOrders" data-status="6">
                <view class="re">
                    <image class="icon-horizontal" src="../../images/icon-send.png"></image>
                    <view class="horizontal-num" wx:if="{{waitRefundCount > 0}}">{{waitRefundCount}}</view>
                </view>
                <view class="horizontal-text">等待退货</view>
            </view>
        </view>

        <view class="fldc df fl1 ml10">
            <view class="order-tip fs30 box_style_2 df ai-center" bindtap="showAssets">
                <image class="icon-horizontal" src="../../images/icon-fund.png"></image>
                <view class="ml35">我的资产</view>
            </view>
            <view class="order-tip fs30 box_style_2 df ai-center" bindtap="showMsg">
                <image class="icon-horizontal" src="../../images/icon-msg-fill.png"></image>
                <view class="ml35">我的信息中心</view>
                <view class="info-msg" wx:if="{{myMsgCount > 0}}">{{myMsgCount}}</view>
            </view>
            <view class="order-tip fs30 box_style_2 df ai-center" bindtap="showFavorite">
                <image class="icon-horizontal" src="../../images/icon-add.png"></image>
                <view class="ml35">我的收藏和名片</view>
            </view>
            <view class="order-tip fs30 box_style_2 df ai-center" bindtap="showOrders" data-status="5">
                <image class="icon-horizontal" src="../../images/icon-star.png"></image>
                <view class="ml35">我的订单</view>
            </view>
                  <view class="order-tip fs30 box_style_2 df ai-center">
                <image class="icon-horizontal" src="../../images/icon-contact.png"></image>
                <view class="ml35">联系我们</view>
        <button class="bottom-btn" session-from='{"nickName":"{{userInfo.user_name}}","avatarUrl":"{{userInfo.avatar}}"}' open-type="contact"></button>
            </view>
            <view class="order-tip fs30 box_style_2 df ai-center" bindtap="showVirtualOrders">
                <image class="icon-horizontal" src="../../images/icon-eye.png"></image>
                <view class="ml35">法律声明及退货条款</view>
            </view>
        </view>
    </view>
</view>